<div class="col-span-12 2xl:col-span-9">
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Envios internos a cuentas PAI
        </h2>
    </div>
    <div class="intro-y grid grid-cols-12 gap-5 mt-5">
        <!-- BEGIN: Ticket -->
        <div class="col-span-6 lg:col-span-6">
            <div class="intro-y pr-1">
                <div class="box p-2">
                    <ul class="nav nav-pills" role="tablist">
                        <li id="ticket-tab" class="nav-item flex-1" role="presentation">
                            <button class="nav-link w-full py-2 active" data-tw-toggle="pill" data-tw-target="#ticket" type="button" role="tab" aria-controls="ticket" aria-selected="true" > Enviar </button>
                        </li>
                        <li id="details-tab" class="nav-item flex-1" role="presentation">
                            <button class="nav-link w-full py-2" data-tw-toggle="pill" data-tw-target="#details" type="button" role="tab" aria-controls="details" aria-selected="false" > Recibir </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div id="ticket" class="tab-pane active" role="tabpanel" aria-labelledby="ticket-tab">
                    <div class="box p-2 mt-5">
                        <!-- ENVIOS P2P -->
                        <div class="grid gap-2"> 
                            <div>
                                <label for="validation-form-1" class="form-label w-full flex flex-col sm:flex-row"> Destinatario<span class="sm:ml-auto mt-1 sm:mt-0 text-xs text-slate-500">Billetera interna PAI de a quien envia</span> </label> 
                                <div class="input-group">
                                    <div id="input-group-email" class="input-group-text"> <i data-lucide="wallet"></i> </div> <input type="text" class="form-control" placeholder="PAI12Wa2nDtfqCN21qBQBKLAm14hJVfEdW1VT" aria-label="Valor en moneda" aria-describedby="input-group-email">
                                </div>
                            </div>
                            <div>
                                <label for="regular-form-2" class="form-label">Valor a enviar</label>
                                <div class="input-group">
                                    <div id="input-group-email" class="input-group-text"> <i data-lucide="dollar-sign"></i> </div> <input type="text" class="form-control" placeholder="Valor a enviar" aria-label="Email" aria-describedby="input-group-email">
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="grid grid-cols-2 gap-2"> 
                            <div class="flex">
                                <i data-lucide="flame" class="w-4 h-4 mr-12 pr-12"></i> Libre de comisiones
                            </div>
                            <div style="width:100%; display: flex; justify-content: flex-end;">
                                <button class="btn btn-primary w-94 mr-1 mb-2" style="justify-content: center;"><span>Enviar</span>  <i data-lucide="send" style="margin-left: 16px;" class="w-4 h-4"></i> </button>
                            </div>
                        </div> 
                        <!-- END: Envios P2P -->
                    </div>
                </div>
                <div id="details" class="tab-pane" role="tabpanel" aria-labelledby="details-tab">
                    <div class="box p-5 mt-5">
                        <div class="flex flex-wrap justify-center mb-6 w-200">
                            <img
                            width="200"
                            height="200"
                            src="src/images/QRSample.png"
                            class="p-1 bg-white border rounded max-w-sm"
                            alt="..."
                          />
                        </div>

                        <div class="font-medium">Billetera interna PAI</div>
                        <div class="input-group" id="success-notification-toggle" onclick="copyAddress()">
                            <div id="input-group-email" class="input-group-text cursor-pointer"> <i data-lucide="wallet"></i> </div> <input type="text" disabled class="form-control" placeholder="" aria-label="referal" id="referalLink" value="PAI12Wa2nDtfqCN21qBQBKLAm14hJVfEdW1VT" aria-describedby="input-group-referal"> <div id="input-group" class="input-group-text cursor-pointer"> <i data-lucide="copy" class="cursor-pointer"></i> </div> 
                        </div>

                        <!-- BEGIN: NOTIFICACION PARA COPIADO DE URL DE REFERIDO -->
                        <div id="success-notification-content" class="toastify-content hidden flex"> <i class="text-success" data-lucide="check-circle"></i>
                            <div class="ml-4 mr-4">
                                <div class="font-medium">Billetera!</div>
                                <div class="text-slate-500 mt-1">Su billetera interna <span>PAI12Wa2nDtfqCN21qBQBKLAm14hJVfEdW1VT</span> ha sido copiada para su uso.</div>
                            </div> 
                        </div> 
                        <!-- END: Notification Content -->

                        <script>
                            function copyAddress() {
                                // Get the text field
                                var copyText = document.getElementById("referalLink");
                            
                                // Select the text field
                                copyText.select();
                                copyText.setSelectionRange(0, 99999); // For mobile devices
                            
                                // Copy the text inside the text field
                                navigator.clipboard.writeText(copyText.value);
                            
                                // Alert the copied text
                                // alert("Direccion copiada: " + copyText.value);
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Ticket -->
    </div>
    <!-- BEGIN: Historial de envios -->
    <div class="col-span-6 intro-y mt-12">
        <div class="overflow-x-auto">
            <table class="table">
                <thead class="table-dark intro-y">
                    <tr>
                        <th class="whitespace-nowrap">ID usuario</th>
                        <th class="whitespace-nowrap max-w-[10%]">Cartera</th>
                        <th class="whitespace-nowrap">Monto</th>
                        <th class="whitespace-nowrap">Fecha</th>
                    </tr>
                </thead>
                <tbody class="intro-y">
                    <tr>
                        <td>18223</td>
                        <td class="whitespace-nowrap max-w-[10%]">PAI12Wa2nDtfqCN21qBQBKLAm14hJVfEdW1VT</td>
                        <td>50</td>
                        <td>16/11/2022, 12:44</td>
                    </tr>
                    <tr>
                        <td>18223</td>
                        <td class="whitespace-nowrap max-w-[10%]">PAI12Wa2nDtfqCN21qBQBKLAm14hJVfEdW1VT</td>
                        <td>50</td>
                        <td>16/11/2022, 12:44</td>
                    </tr>
                    <tr>
                        <td>18223</td>
                        <td class="whitespace-nowrap max-w-[10%]">PAI12Wa2nDtfqCN21qBQBKLAm14hJVfEdW1VT</td>
                        <td>50</td>
                        <td>16/11/2022, 12:44</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END: Historial de envios -->
    <!-- BEGIN: New Order Modal -->
    <div id="new-order-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="font-medium text-base mr-auto">
                        New Order
                    </h2>
                </div>
                <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                    <div class="col-span-12">
                        <label for="pos-form-1" class="form-label">Name</label>
                        <input id="pos-form-1" type="text" class="form-control flex-1" placeholder="Customer name">
                    </div>
                    <div class="col-span-12">
                        <label for="pos-form-2" class="form-label">Table</label>
                        <input id="pos-form-2" type="text" class="form-control flex-1" placeholder="Customer table">
                    </div>
                    <div class="col-span-12">
                        <label for="pos-form-3" class="form-label">Number of People</label>
                        <input id="pos-form-3" type="text" class="form-control flex-1" placeholder="People">
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-32 mr-1">Cancel</button>
                    <button type="button" class="btn btn-primary w-32">Create Ticket</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END: New Order Modal -->
    <!-- BEGIN: Add Item Modal -->
    <div id="add-item-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="font-medium text-base mr-auto">
                        Milkshake
                    </h2>
                </div>
                <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                    <div class="col-span-12">
                        <label for="pos-form-4" class="form-label">Quantity</label>
                        <div class="flex mt-2 flex-1">
                            <button type="button" class="btn w-12 border-slate-200 bg-slate-100 dark:bg-darkmode-700 dark:border-darkmode-500 text-slate-500 mr-1">-</button>
                            <input id="pos-form-4" type="text" class="form-control w-24 text-center" placeholder="Item quantity" value="2">
                            <button type="button" class="btn w-12 border-slate-200 bg-slate-100 dark:bg-darkmode-700 dark:border-darkmode-500 text-slate-500 ml-1">+</button>
                        </div>
                    </div>
                    <div class="col-span-12">
                        <label for="pos-form-5" class="form-label">Notes</label>
                        <textarea id="pos-form-5" class="form-control w-full mt-2" placeholder="Item notes"></textarea>
                    </div>
                </div>
                <div class="modal-footer text-right">
                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                    <button type="button" class="btn btn-primary w-24">Add Item</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Add Item Modal -->
</div>