<!-- BEGIN: Content -->
<div class="col-span-12 2xl:col-span-9">
    <div class="grid grid-cols-12 gap-6">
        <!-- BEGIN: General Report -->
        <div class="col-span-12 mt-8">
            <div class="intro-y flex items-center h-10">
                <h2 class="text-lg font-medium truncate mr-5">
                    Reporte general
                </h2>
                <a href="" class="ml-auto flex items-center text-primary"> <i data-lucide="refresh-ccw"
                        class="w-4 h-4 mr-3"></i> Recargar </a>
            </div>
            <div class="grid grid-cols-12 gap-6 mt-5">
                <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                    <a href="#cartera">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="bitcoin" class="report-box__icon text-primary"></i>
                                    <div class="ml-auto">
                                        <div class="report-box__indicator bg-success tooltip cursor-pointer"
                                            title="Conteo"> 3 en total </div>
                                    </div>
                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">4.710</div>
                                <div class="text-base text-slate-500 mt-1">Balance de cuenta</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                    <a href="#inversiones">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="bar-chart-2" class="report-box__icon text-pending"></i>
                                    <div class="ml-auto">
                                        <div class="report-box__indicator bg-danger tooltip cursor-pointer"
                                            title="Conteo"> 0 en total </div>
                                    </div>
                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">3.721</div>
                                <div class="text-base text-slate-500 mt-1">Inversiones</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                    <a href="#inversionesnft">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="image" class="report-box__icon text-warning"></i>
                                    <div class="ml-auto">
                                        <div class="report-box__indicator bg-danger tooltip cursor-pointer"
                                            title="Conteo"> 0 en total </div>
                                    </div>
                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">2.149</div>
                                <div class="text-base text-slate-500 mt-1">Inversiones NFT</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                    <a href="#afiliados">
                        <div class="report-box zoom-in">
                            <div class="box p-5">
                                <div class="flex">
                                    <i data-lucide="users" class="report-box__icon text-success"></i>
                                    <div class="ml-auto">
                                        <div class="report-box__indicator bg-success tooltip cursor-pointer"
                                            title="Conteo"> 7 en total </div>
                                    </div>
                                </div>
                                <div class="text-3xl font-medium leading-8 mt-6">152.040</div>
                                <div class="text-base text-slate-500 mt-1">Afiliados</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- END: General Report -->

        <!-- BEGIN: Actividad de acceso -->
        <div class="col-span-12 mt-6 intro-y">
            <div class="overflow-x-auto">
                <table class="table">
                    <thead class="table-dark intro-y">
                        <tr>
                            <th class="whitespace-nowrap">Direccion IP</th>
                            <th class="whitespace-nowrap">Pais</th>
                            <th class="whitespace-nowrap">Sistema operativo</th>
                            <th class="whitespace-nowrap">Dispositivo</th>
                            <th class="whitespace-nowrap">Fecha</th>
                        </tr>
                    </thead>
                    <tbody class="intro-y">
                        <tr>
                            <td>192.168.4.21</td>
                            <td>Republica Dominicana</td>
                            <td>Linux OS</td>
                            <td>Mobil</td>
                            <td>16 nov 2022, 12:44:25</td>
                        </tr>
                        <tr>
                            <td>192.168.4.21</td>
                            <td>Turquia</td>
                            <td>Mac OS</td>
                            <td>Desktop</td>
                            <td>16 nov 2022, 12:44:25</td>
                        </tr>
                        <tr>
                            <td>192.168.4.21</td>
                            <td>Rusia</td>
                            <td>Windows OS</td>
                            <td>Desktop</td>
                            <td>16 nov 2022, 12:44:25</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END: Actividad de acceso -->
    </div>
</div>
<!-- END: Content -->