<div class="">
                            
    <!-- BEGIN: General Report -->
    <div class="col-span-12 xl:col-span-9 mt-8">
        <div class="intro-y flex items-center h-10">
            <h2 class="text-lg font-medium truncate mr-5">
                Vender activos
            </h2>
        </div>
        <div class="report-box-2 intro-y mt-5">
            <div class="box grid grid-cols-12">
                <div class="col-span-12 lg:col-span-4 px-8 py-12 flex flex-col justify-center">
                    <div class="col-span-12 sm:col-span-6 xl:col-span-3 intro-y">
                        <a href="cartera.html">
                            <div class="report-box zoom-in">
                                <div class="box p-5">
                                    <div class="flex">
                                        <i data-lucide="bitcoin" class="report-box__icon text-primary"></i> 
                                        <div class="ml-auto">
                                            <div class="report-box__indicator bg-success tooltip cursor-pointer" title="Conteo"> 3 en total </div>
                                        </div>
                                    </div>
                                    <div class="text-3xl font-medium leading-8 mt-6">4.710</div>
                                    <div class="text-base text-slate-500 mt-1">Balance de cuenta</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-8 p-8 border-t lg:border-t-0 lg:border-l border-slate-200 dark:border-darkmode-300 border-dashed">
                    <div class="mt-3"> 
                        <label for="regular-form-2" class="form-label">Seleccionar cuenta bancaria</label> 
                        <div class="select_wrap">
                            <ul class="default_option">
                                <li>
                                    <div class="option btc grid grid-cols-2 pr-18" style="justify-content: space-between;">
                                        <div class="grid grid-cols-2" style="align-items: center;">
                                            <div class="icon"></div>
                                            <p><b>BTC</b> Bitcoin</p>
                                        </div>
                                        <div style="padding-right: 24px; box-sizing:border-box">
                                            <span>USD$ 16,554.55</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            <ul class="select_ul">
                                <li>
                                    <div class="option btc grid grid-cols-3 pr-18" style="justify-content: space-between;">
                                        <div class="option btc grid grid-cols-2 gap-6">
                                            <div class="icon"></div>
                                            <p><b>BTC</b> Bitcoin</p>
                                        </div>
                                        <div style="padding-right: 24px; box-sizing:border-box">
                                            <span>USD$ 16,554.55</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="option eth grid grid-cols-3 pr-18" style="justify-content: space-between;">
                                        <div class="option eth grid grid-cols-2 gap-6">
                                            <div class="icon"></div>
                                            <p><b>BTC</b> Bitcoin</p>
                                        </div>
                                        <div style="padding-right: 24px; box-sizing:border-box">
                                            <span>USD$ 16,554.55</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="option bnb grid grid-cols-3 pr-18" style="justify-content: space-between;">
                                        <div class="option bnb grid grid-cols-2 gap-6">
                                            <div class="icon"></div>
                                            <p><b>BTC</b> Bitcoin</p>
                                        </div>
                                        <div style="padding-right: 24px; box-sizing:border-box">
                                            <span>USD$ 16,554.55</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div> 

                    
                    <label for="validation-form-1" class="form-label w-full flex flex-col sm:flex-row"> Ingresar su billetera <span class="sm:ml-auto mt-1 sm:mt-0 text-xs text-slate-500">Asegurate de que sea correcta</span> </label> 
                    <div class="input-group">
                        <div id="input-group-email" class="input-group-text"> <i data-lucide="wallet"></i> </div> <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="input-group-email">
                    </div>
                    <br>
                    <div class="grid grid-cols-2 gap-2"> 
                        <div>
                            <label for="regular-form-2" class="form-label">Valor a transferir</label>
                            <div class="input-group">
                                <div id="input-group-email" class="input-group-text"> <i data-lucide="dollar-sign"></i> </div> <input type="text" class="form-control" placeholder="Email" aria-label="Email" aria-describedby="input-group-email">
                            </div>
                        </div>
                        <div>
                            <label for="validation-form-1" class="form-label w-full flex flex-col sm:flex-row"> Equivalente en moneda<span class="sm:ml-auto mt-1 sm:mt-0 text-xs text-slate-500">Conversion del momento</span> </label> 
                            <div class="input-group">
                                <div id="input-group-email" class="input-group-text"> BTC </div> <input type="text" value="30" class="form-control" placeholder="Valor en moneda" aria-label="Valor en moneda" aria-describedby="input-group-email">
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <div class="grid grid-cols-2 gap-2"> 
                        <div class="flex">
                            <i data-lucide="flame" class="w-4 h-4 mr-12 pr-12"></i> Comision de red: 1.55 USD
                        </div>
                        <div style="width:100%; display: flex; justify-content: flex-end;">
                            <button class="btn btn-primary w-94 mr-1 mb-2" style="justify-content: center;"><span>Transferir fondos</span>  <i data-lucide="send" style="margin-left: 16px;" class="w-4 h-4"></i> </button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <!-- END: General Report -->
    
    <style>
        .select_wrap{
            width: 100%;
            margin: 15px auto;
            position: relative;
            user-select: none;
            z-index: 99;
            border:1px solid #ddd;
            border-radius: 4px;
        }

        .select_wrap .default_option{
            background: #fff;
            border-radius: 5px;
            position: relative;
            cursor: pointer;
        }

        .select_wrap .default_option li{
            padding: 10px;
            z-index: 99;
        }

        .select_wrap .default_option:before{
            content: "";
            position: absolute;
            top: 18px;
            right: 18px;
            width: 6px;
            height: 6px;
            border: 2px solid;
            border-color: transparent transparent #555555 #555555;
            transform: rotate(-45deg);
        }

        .select_wrap .select_ul{
            position: absolute;
            top: 55px;
            left: 0;
            width: 100%;
            background: #fff;
            border-radius: 5px;
            display: none;
            box-shadow: 0 3px 2px rgba(0,0,0,0.2);
        }

        .select_wrap .select_ul li{
            padding: 10px;
            cursor: pointer;
        }

        .select_wrap .select_ul li:first-child:hover{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .select_wrap .select_ul li:last-child:hover{
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .select_wrap .select_ul li:hover{
            background: #fdfdfdd3;    
        }

        .select_wrap .option{
            display: flex;
            align-items: center;
        }

        .select_wrap .option .icon{
            background: url('src/images/btc.png') no-repeat 0 0;
            width: 32px;
            height: 32px;
            margin-right: 15px;
        }

        .select_wrap .option.btc .icon{
            background: url('src/images/btc.png') no-repeat 0 0;
        }

        .select_wrap .option.eth .icon{
            background: url('src/images/eth.png') no-repeat 0 0;
        }

        .select_wrap .option.ada .icon{
            background: url('src/images/ada.png') no-repeat 0 0;
        }

        .select_wrap .option.fries .icon{
            background-position: 0 -111px;
            width: 25px;
        }

        .select_wrap.active .select_ul{
            display: block;
        }

        .select_wrap.active .default_option:before{
            top: 25px;
            transform: rotate(-225deg);
        }
    </style>
    
    

</div>
<!-- END:  -->

<!-- BEGIN: Transactions -->
<div class="col-span-12 md:col-span-6 lg:col-span-4 xl:col-span-3 row-start-4 lg:row-start-3 xl:row-start-auto mt-6 xl:mt-8" >
    <div class="intro-x flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Historial de transferencias
        </h2>
    </div>
    <div class="mt-5">
        <div class="intro-x">
            <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                    <img alt="Midone - HTML Admin Template" src="dist/images/profile-12.jpg">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium">Banco Popular</div>
                    <div class="text-slate-500 text-xs mt-0.5">775558844</div>
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium text-success">7,588 DOP</div>
                    <div class="text-slate-500 text-xs mt-0.5">05 oct, 9:44 AM</div>
                </div>
            </div>
        </div>
        <div class="intro-x">
            <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                    <img alt="Midone - HTML Admin Template" src="dist/images/profile-12.jpg">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium">Banco Popular</div>
                    <div class="text-slate-500 text-xs mt-0.5">775558844</div>
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium text-danger">7,588 DOP</div>
                    <div class="text-slate-500 text-xs mt-0.5">05 oct, 9:44 AM</div>
                </div>
            </div>
        </div>
        <div class="intro-x">
            <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                    <img alt="Midone - HTML Admin Template" src="dist/images/profile-12.jpg">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium">Banco Popular</div>
                    <div class="text-slate-500 text-xs mt-0.5">775558844</div>
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium text-success">7,588 DOP</div>
                    <div class="text-slate-500 text-xs mt-0.5">05 oct, 9:44 AM</div>
                </div>
            </div>
        </div>
        <div class="intro-x">
            <div class="box px-5 py-3 mb-3 flex items-center zoom-in">
                <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                    <img alt="Midone - HTML Admin Template" src="dist/images/profile-12.jpg">
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium">Banco Popular</div>
                    <div class="text-slate-500 text-xs mt-0.5">775558844</div>
                </div>
                <div class="ml-4 mr-auto">
                    <div class="font-medium text-danger">7,588 DOP</div>
                    <div class="text-slate-500 text-xs mt-0.5">05 oct, 9:44 AM</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END: Transactions -->
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function(){
        $(".default_option").click(function(){
        $(this).parent().toggleClass("active");
        })

        $(".select_ul li").click(function(){
        var currentele = $(this).html();
        $(".default_option li").html(currentele);
        $(this).parents(".select_wrap").removeClass("active");
        })
    });